body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: ##23303E;
  font-size: 1.125em;
  font-family: "Barlow", sans-serif;
  margin: 0;
  width: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  width: 90%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.learn-more-square,
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*===== HEADER STYLING - MOBILE === */

header {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.lower-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #FFF;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.75rem;
  width: 90%;
  letter-spacing: .25rem;
  margin-top: 5rem;
}

.arrow {
  background-image: url("../images/icon-arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.5rem;
  height: 11rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
