body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: ##23303E;
  font-size: 1.125em;
  font-family: "Barlow", sans-serif;
  margin: 0;
  width: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  width: 85%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.learn-more-square,
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*===== HEADER STYLING - MOBILE === */

header {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.lower-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #FFF;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.75rem;
  width: 90%;
  letter-spacing: .25rem;
  margin-top: 5rem;
}

.arrow {
  background-image: url("../images/icon-arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.5rem;
  height: 11rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

/*===== GRID SECTION - MOBILE ===*/

.egg {
  background-image: url("../images/mobile/image-transform.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10rem 0;
}

.learn-more-square {
  padding: 3rem 0;
}

h2 {
  font-family: "Fraunces", serif;
  color: #23303E;
  font-size: 2.25rem;
  text-align: center;
}

p {
  text-align: center;
  line-height: 2rem;
  color: #818498;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #23303E;
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
  width: 48%;
  position: relative;
  display: flex;
  margin: 1rem 0 3rem 0;

}

a span {
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 100%;
}

.highlight {
  background-color:	rgba(250, 212, 0, .5);
  height: .75rem;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  z-index: 1;
  top: .9rem;
}

.stand-out {
  background-color:	rgba(254, 120, 103, .5);
}

.cup {
  background-image: url("../images/mobile/image-stand-out.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10rem 0;
}

.skill h3 {
  font-family: "Fraunces", serif;
  font-size: 1.75rem;
  padding-top: 23rem;
  color: #25564B;
}

.skill .content-container {
  width: 90%;
}

.skill p {
  font-size: 1rem;
  margin-bottom: 3.5rem;
  color: #25564B;
}

.graphic-design {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.photography {
  background-image: url("../images/mobile/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*==== TESTIMONIALS SECTION - MOBILE =====*/

.testimonials .content-container {
  width: 88%;
}

h4 {
  font-family: "Fraunces", serif;
  color: #A7ABAE;
  text-transform: uppercase;
  letter-spacing: .25rem;
  margin: 4rem 0;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

blockquote {
  margin: 2.25rem 0;
  text-align: center;
  line-height: 2rem;
  color: #5A636C;
}

figure img {
  width: 25%;
  border-radius: 50%;
}

figure footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
}

.role {
  font-style: normal;
  font-size: .9rem;
  margin: .75rem 0 5rem;
  color: #A7ABAE;
}

/*=== IMAGE SHOWCASE SECTION - MOBILE ===*/
