body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: ##23303E;
  font-size: 1.125em;
  font-family: "Barlow", sans-serif;
  margin: 0;
  width: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  width: 85%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.learn-more-square,
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*===== HEADER STYLING - MOBILE === */

header {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.lower-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #FFF;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.75rem;
  width: 90%;
  letter-spacing: .25rem;
  margin-top: 5rem;
}

.arrow {
  background-image: url("../images/icon-arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.5rem;
  height: 11rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

/*===== GRID SECTION - MOBILE ===*/

.egg {
  background-image: url("../images/mobile/image-transform.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10rem 0;
}

.learn-more-square {
  padding: 3rem 0;
}

h2 {
  font-family: "Fraunces", serif;
  color: #23303E;
  font-size: 2.25rem;
  text-align: center;
}

p {
  text-align: center;
  line-height: 2rem;
  color: #818498;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #23303E;
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
  width: 48%;
  position: relative;
  display: flex;
  margin: 1rem 0 3rem 0;

}

a span {
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 100%;
}

.highlight {
  background-color:	rgba(250, 212, 0, .5);
  height: .75rem;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  z-index: 1;
  top: .9rem;
}

.stand-out {
  background-color:	rgba(254, 120, 103, .5);
}

.cup {
  background-image: url("../images/mobile/image-stand-out.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10rem 0;
}
